header {
   position:fixed;
   top:0;
   height:80px;
   width:100%;
   left:0;
   right:0;
   color:white;
   font-weight:bold;
   display:flex;
   justify-content:space-between;
   align-items:center;
   z-index:500;
   background:orange;
   font-family: 'Nanum Gothic Coding', monospace;
}
.mobileMenu {
   margin-left:-40px;
   width:auto;
   height:60px;
   display:none;
}
#sidebar {width:0px; height:0px;}
.mobileMenu:hover {cursor:pointer;}
.sidebarMenu {
   padding-left:3%;
   z-index:-1;
   display:none;
   background-color:orange;
   position:absolute;
   top:80px;
   left:0;
   width:300px;
   height:92vh;
}
header .logo {width:auto; height:50px;}
nav {
   margin-top:1.5%;
   display:flex;
   justify-content:space-around;
   font-size:1.5rem;
   width:100%;
   background:orange;
}
nav > li {
   list-style:none;
   height:70px;
}
.menu {
   margin-bottom:50px;
   line-height: 3rem;
}
#headerMedia1 {display:block;}
#headerMedia2 {display:none;}
header nav li:hover > .subMenu {display:block;}
.subMenu {
   height:auto;
   display:none;
   border-top:4px solid red;
   background-color:rgba(230, 230, 230, 0.8);
   margin:-28px auto;
   position:absolute;
   width:10%;
   min-width:100px;
}
.subMenu:hover + .subMenu {display:block;}
.submenu li {
   color:black;
   list-style:none;
   line-height:3rem;
   font-size:1.2rem;
}
.submenu li a {
   list-style:none;
   text-decoration:none;
   color:black;
}
nav .menu {
   font-size:1.5rem;
   text-decoration:none;
   color:black;
}
nav .menu:hover{
   color:orangered;
}
.sns a{text-decoration:none;}

/*media Queries--------------------------------------------------------------*/
/*tablet*/
@media screen and (max-width:1080px) and (min-width:787px) {
   #headerMedia1 {display:none;}
   #headerMedia2 {display:block;}
   header nav .mobileMenu {display:none;}
   nav .sidebarMenu {display:none;}
}
/*mobile*/
@media screen and (max-width:787px) {
   #headerMedia1 {display:none;}
   #headerMedia2 {display:none;}
   header nav .mobileMenu {display:block;}
   #sidebar:checked ~ .sidebarMenu {display:block; animation:SBAnimationOn 0.5s;}
   .sidebarMenu a{
      text-decoration:none;
      list-style:none;
      color:black;
   }
   .sidebarMenu a:hover{color:red;}
   .sidebarMenu ul li {color:black}
   .sidebarMenu ul li a{
      line-height:2rem;
      font-weight:lighter;
      text-decoration:none;
      color:black;
      font-size:1.3rem;
   }
   .sidebarMenu ul li a:hover{color:red;}

   @keyframes SBAnimationOn {
      0% {transform-origin:0% 0%; transform:scaleX(0);}
      100% {transform-origin:0% 100%; transform:scaleX(1);}
   }
}