* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

#wrap {
  position: relative;
  padding-top: 50px;
}

body {
  background: url(../img/svis-bg.jpg) repeat;
}

p {
  letter-spacing: -1.5px;
}

ul,
li {
  list-style: none;
}

.inner {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

/*Common Style*/

.cm_page_button {
  display: inline-block;
  width: 250px;
  height: 50px;
  border-radius: 30px;
  margin: 0 20px 65px;
  cursor: pointer;
}

.cm_page_button a {
  color: #000;
}

.page1_button:hover > a,
.page2_button:hover > a {
  color: red;
}

.cm_page_button:hover {
  background-color: #ffb319;
}

.cm_content_box {
  position: relative;
  width: 100%;
  height: 320px;
}

.cm_imgbox {
  display: inline-block;
  width: 300px;
  height: 300px;
}

.cm_content_title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  margin-top: 21px;
  margin-bottom: 30px;
}

#title_icon {
  width: 30px;
  height: 20px;
  margin-right: 10px;
  transform: translatey(3px);
}

.cm_content_title_ip {
  color: #ff5454;
}

.cm_content_text {
  color: #ffffff;
  line-height: 24px;
  font-size: 17px;
}

.cm_content_text_ip {
  color: #ffb9b9;
}

.cm_content_text_box {
  display: inline-block;
}

/*header*/

#header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  background-color: #ffb319;
  border-bottom: 1px solid black;
  z-index: 10;
}

#header > .inner {
  position: relative;
}

#header > .inner > h1 {
  text-indent: -9999px;
}

#header > .inner > h2 {
  text-indent: -9999px;
}

#header_logo1 {
  width: 36px;
  height: 36px;
  background: url(../img/head-logo1.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  line-height: 50px;
  top: 7px;
  left: 70px;
  z-index: 10;
}

#header_logo2 {
  width: 149px;
  height: 28px;
  background: url(../img/head-logo2.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  line-height: 50px;
  top: 11px;
  right: 70px;
  z-index: 10;
}

#nav_box {
  width: 750px;
  display: flex;
  position: absolute;
  left: 160px;
  text-align: center;
  justify-content: center;
}

#nav {
  display: flex;
  position: relative;
  font-weight: bold;
  line-height: 50px;
  font-size: 16px;
}

#nav li a {
  color: black;
  display: inline-block;
  width: 165px;
}

#nav li a:hover,
.nav_hover .nav_hover_menu li a:hover {
  color: red;
}

#nav li::after {
  content: "|";
}

#nav li:last-child::after {
  display: none;
}

.nav_hover {
  width: 750px;
  height: 175px;
  position: absolute;
  background-color: #ffb319;
  font-size: 14px;
  text-align: center;
  padding-top: 10px;
  border-radius: 0 0 30px 30px;
  top: 50px;
  left: 160px;
  transition: all 0.5s ease;
  visibility: hidden;
  opacity: 0;
}

.nav_hover_menu {
  display: inline-block;
  text-align: center;
  width: 165px;
  vertical-align: top;
}

#nav_box:hover + .nav_hover,
.nav_hover:hover {
  visibility: visible;
  opacity: 1;
}

.nav_hover_link {
  color: black;
}

.nav_hover_link {
  display: inline-block;
  margin: 7.5px 0;
}

.nav_hover_menu > li > a:first-child {
  margin-top: 10px;
}

#sns_nav_box {
  display: block;
  height: 36px;
  position: absolute;
  top: 7px;
  right: 320px;
}

#header_sns_insta {
  width: 36px;
  height: 36px;
  background: url(../img/foot-sns1.png) no-repeat;
  background-size: 100% 100%;
}

#header_sns_facebook {
  width: 36px;
  height: 36px;
  background: url(../img/foot-sns3.png) no-repeat;
  background-size: 100% 100%;
}

#header_sns_youtube {
  width: 36px;
  height: 36px;
  background: url(../img/youtube_bottom.png) no-repeat;
  background-size: 100% 100%;
}

#sns_nav {
  display: flex;
}

#sns_nav li {
  display: inline-block;
}

#sns_nav li a {
  display: inline-block;
  text-indent: -9999px;
  width: 36px;
  height: 36px;
  margin: 0 10px;
  border-radius: 50%;
}

/*container*/

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1920px;
}

#high_text_content {
  text-align: center;
  padding: 50px;
}

#high_text_content h3 {
  font-size: 18px;
  color: #ffb319;
  padding-bottom: 15px;
}

#high_text_content p {
  color: white;
}

#button_box {
  text-align: center;
}

.page1_button {
  background-color: #ffffff;
}

.page2_button {
  background-color: #ffb319;
}

#high_text_content,
#button_box {
  animation-name: show;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

.history_box {
  width: 100%;
  display: flex;
  color: white;
  padding-top: 35px;
  padding-left: 200px;
  padding-bottom: 100px;
  font-weight: bold;
  background-size: 100% 100%;
  animation: leftshow;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.hisbg {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../img/page2bg.jpg) no-repeat;
  background-attachment: fixed;
}

.overlay:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: #000;
  opacity: 0.5;
}

.history_year {
  margin-right: 20px;
}

.history_year h2,
.history_year h3 {
  display: block;
}

.history_line {
  width: 1px;
  height: 595px;
  border-left: 1px solid #ffffff;
  transform: translatey(15px);
  position: relative;
}

.history_dot1 {
  width: 16px;
  height: 16px;
  position: absolute;
  top: -10px;
  left: -9px;
}

.history_dot2 {
  top: 124px;
}

.history_dot3 {
  bottom: 219px;
}
.history_dot4 {
  bottom: 89px;
}

.history_s_dot {
  width: 11px;
  height: 11px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: -6px;
}

.history_year h2 {
  font-size: 40px;
  transform: translatey(-19px);
}

.history_year h3 {
  font-size: 32px;
  text-align: end;
}

.history_year_2014 {
  margin-top: 67px;
}

.history_year_2017 {
  margin-top: 196px;
}

.history_year_2019 {
  margin-top: 89px;
}

.history_content {
  font-size: 18px;
  margin-left: 20px;
}

.history_2011 {
  margin-bottom: 100px;
}

.history_2014 {
  margin-bottom: 120px;
}

.history_2017 {
  margin-bottom: 100px;
}

.history_2011,
.history_2014,
.history_2017,
.history_2019 {
  line-height: 30px;
}

/*footer*/

#footer {
  width: 100%;
  height: 300px;
  background-color: #ffb319;
  border-top: 1px solid black;
}

#footer_bottom .inner {
  position: relative;
}

#footer_head {
  width: 100%;
  height: 50px;
  line-height: 40px;
  font-size: 20px;
  font-weight: bold;
}

.footer_nav,
.footer_sns {
  display: inline-block;
}

.footer_sns {
  margin-left: 120px;
}

.footer_nav li {
  display: inline-block;
  margin: 0 50px;
}

.footer_sns li {
  display: inline-block;
  margin: 5px 18px;
}

.footer_sns li a {
  display: inline-block;
  text-indent: -9999px;
}

#footer_sns_instagram {
  background: url(../img/foot-sns1.png) no-repeat;
  width: 40px;
  height: 40px;
  background-size: 100% 100%;
}

#footer_sns_facebook {
  background: url(../img/foot-sns3.png) no-repeat;
  width: 40px;
  height: 40px;
  background-size: 100% 100%;
}

#footer_sns_youtube {
  background: url(../img/youtube_bottom.png) no-repeat;
  width: 40px;
  height: 40px;
  background-size: 100% 100%;
}

#footer_bottom {
  border-top: 1.5px solid black;
}

#footer_mini_nav {
  font-size: 14px;
}

#footer_mini_nav ul li a {
  color: black;
}

#footer_mini_nav ul li a:hover {
  color: red;
}

.footer_mini_nav1,
.footer_mini_nav2,
.footer_mini_nav3,
.footer_mini_nav4 {
  display: inline-block;
  text-align: center;
  margin: 0 72px;
  line-height: 40px;
  vertical-align: top;
}

.footer_mini_nav2 {
  margin: 0 108px;
}

.footer_mini_nav4 {
  margin: 0 85px;
}

#footer_bottom_text {
  position: absolute;
  top: 30px;
  right: 62px;
  font-size: 14px;
}

#footer_bottom_text ul li {
  line-height: 30px;
}

#footer_bottom_end {
  position: relative;
}

.footer_bottom_logo {
  display: inline-block;
  position: absolute;
  top: 34px;
  right: 200px;
  background: url(../img/head-logo2.png);
  background-size: 100% 100%;
  width: 149px;
  height: 28px;
  text-indent: -9999px;
}

#footer_bottom_end p:nth-child(2) {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  top: 32px;
  right: 18px;
  border-bottom: 2px solid black;
}

#footer_bottom_end p:nth-child(3) {
  position: absolute;
  font-size: 10px;
  right: 167px;
  top: 60px;
}

/*keyframes*/

@keyframes leftshow {
  0% {
    opacity: 0;
    transform: translatex(-100px);
  }
  100% {
    opacity: 1;
    transform: translatex(0);
  }
}

@keyframes rightshow {
  0% {
    opacity: 0;
    transform: translatex(100px);
  }

  100% {
    opacity: 1;
    transform: translatex(0);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
