#container,
header,
section,
footer {width:100%;}
header > h1 {text-align:center; font-size:3em;}
section {display:flex; flex-wrap:wrap; justify-content:space-between;}
section h2 {
   position:absolute;
   padding:5px;
   font-size:2em;
   right:3%;
   bottom:10px;
   color:white;
   text-shadow:3px 3px 5px black;
}
section > div {
   width:32%;
   position:relative;
   border:1px solid black;
   height:400px;
   margin-bottom:15px;
}
#menu1 {background:url(../images/dish1.jpg) no-repeat center; background-size:cover;}
#menu2 {background:url(../images/dish2.jpg) no-repeat center; background-size:cover;}
#menu3 {background:url(../images/dish3.jpg) no-repeat center; background-size:cover;}
#menu4 {background:url(../images/dish4.jpg) no-repeat center; background-size:cover;}
#menu5 {background:url(../images/dish5.jpg) no-repeat center; background-size:cover; 
   flex-grow:1; margin-left:1.7%;}
footer {background-color:black; height:100px;}
footer > p {
   font-size:1.5em;
   color:white;
   text-align:center;
   line-height:100px;
}
@media screen and (min-width:768px) and (max-width:1024px) {
   #menu1,
   #menu2,
   #menu3,
   #menu4 {width:49%;}
   #menu5 {width:100%;}
}
@media screen and (max-width:768px) {
   #menu1,
   #menu2,
   #menu3,
   #menu4,
   #menu5 {width:100%;}
}